/* We'll need some initial vars to use here */
@import "~bulma/sass/utilities/initial-variables";

/* Base: Size  */
$size-base: 1rem;
$default-padding: $size-base * 1.5;

/* Base: Color */
$base-color: #051d38;
$base-color-light: #f5f8fa;
$base-gradient: linear-gradient(to right, $base-color, #1e344c);

/* Override Primary */
$primary: #203752;

/* Default font */
$family-sans-serif: "IBM Plex Sans", sans-serif;

/* Body */
$body-background-color: $base-color-light;

/* Navbar: Bulma override */
$navbar-dropdown-radius: $radius-small;

/* Navbar: specifics */
$navbar-avatar-size: 1.75rem;

/* Icon: specifics */
$icon-update-mark-size: $size-base * .5;
$icon-update-mark-color: $yellow;

/* Aside: Bulma override */
$menu-item-radius: 0;
$menu-list-link-padding: $size-base 0;
$menu-item-color: rgba($white, .3);
$menu-item-hover-color: $white;
$menu-item-hover-background-color: darken($base-color, 3.5%);
$menu-item-active-color: $white;
$menu-item-active-background-color: darken($base-color, 2.5%);

/* Aside: specifics */
$aside-width: $size-base * 12;
$aside-logo-width: $size-base * 3;
$aside-mobile-width: $size-base * 15;
$aside-icon-width: $size-base * 3;
$aside-submenu-font-size: $size-base * .95;
$aside-box-shadow: none;
$aside-background-color: $base-color;

/* Card: Bulma override */
$card-shadow: none;
$card-header-shadow: none;

/* Card: specifics */
$card-header-border-bottom-color: $base-color-light;

/* Table: Bulma override */
$table-cell-border: 1px solid $white-bis;

/* Table: specifics */
$table-avatar-size: 1.5rem;
$table-avatar-size-mobile: 25vw;

/* Form */
$checkbox-border: 1px solid rgba($base-color, 0.5);

/* Modal card */
$modal-card-width: 40vw;
$modal-card-width-mobile: 90vw;

/* Notification: Bulma override */
$notification-radius: $radius-small;
$notification-padding: $default-padding * .75 $default-padding;

/* Footer: Bulma override */
$footer-background-color: $white;
$footer-padding: $default-padding * .33 $default-padding;

/* Footer: specifics */
$footer-logo-height: $size-base * 2;

/* Progress: Bulma override */
$progress-bar-background-color: $white-ter;
